.plus {
  --b: 4px; /* the thickness */
  width: 40px; /* the size */
  aspect-ratio: 1;
  border: 10px solid #000; /* the outer space */
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      rgb(149, 235, 0) 90deg,
      #fff 0
    )
    calc(100% + var(--b) / 2) calc(100% + var(--b) / 2) / calc(50% + var(--b))
    calc(50% + var(--b));
  display: inline-block;
}

.alt {
  border-color: #fff;
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #fff 90deg,
      rgb(87, 3, 255) 0
    )
    calc(100% + var(--b) / 2) calc(100% + var(--b) / 2) / calc(50% + var(--b))
    calc(50% + var(--b));
}
.radius {
  border-radius: 50%;
}
